@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

/* src/styles.css */

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/* ! tailwindcss v3.4.14 | MIT License | https://tailwindcss.com */

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.visible{
  visibility: visible;
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.inset-0{
  inset: 0px;
}

.-left-\[5\.4rem\]{
  left: -5.4rem;
}

.bottom-\[-16px\]{
  bottom: -16px;
}

.right-0{
  right: 0px;
}

.right-10{
  right: 2.5rem;
}

.right-5{
  right: 1.25rem;
}

.top-0{
  top: 0px;
}

.top-10{
  top: 2.5rem;
}

.top-\[-5rem\]{
  top: -5rem;
}

.left-5{
  left: 1.25rem;
}

.top-5{
  top: 1.25rem;
}

.left-14{
  left: 3.5rem;
}

.left-24{
  left: 6rem;
}

.left-36{
  left: 9rem;
}

.left-32{
  left: 8rem;
}

.z-0{
  z-index: 0;
}

.z-10{
  z-index: 10;
}

.z-20{
  z-index: 20;
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.my-10{
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.my-56{
  margin-top: 14rem;
  margin-bottom: 14rem;
}

.my-7{
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

.my-24{
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.my-3{
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.my-36{
  margin-top: 9rem;
  margin-bottom: 9rem;
}

.my-5{
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.my-4{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-20{
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.mb-28{
  margin-bottom: 7rem;
}

.mb-3{
  margin-bottom: 0.75rem;
}

.mb-32{
  margin-bottom: 8rem;
}

.mb-36{
  margin-bottom: 9rem;
}

.mb-5{
  margin-bottom: 1.25rem;
}

.mb-7{
  margin-bottom: 1.75rem;
}

.mt-10{
  margin-top: 2.5rem;
}

.mt-20{
  margin-top: 5rem;
}

.mt-5{
  margin-top: 1.25rem;
}

.mb-10{
  margin-bottom: 2.5rem;
}

.mb-4{
  margin-bottom: 1rem;
}

.-mt-20{
  margin-top: -5rem;
}

.block{
  display: block;
}

.inline-block{
  display: inline-block;
}

.flex{
  display: flex;
}

.table{
  display: table;
}

.grid{
  display: grid;
}

.hidden{
  display: none;
}

.h-16{
  height: 4rem;
}

.h-7{
  height: 1.75rem;
}

.h-\[6px\]{
  height: 6px;
}

.h-full{
  height: 100%;
}

.h-10{
  height: 2.5rem;
}

.h-20{
  height: 5rem;
}

.h-14{
  height: 3.5rem;
}

.h-1{
  height: 0.25rem;
}

.w-10{
  width: 2.5rem;
}

.w-16{
  width: 4rem;
}

.w-40{
  width: 10rem;
}

.w-56{
  width: 14rem;
}

.w-6{
  width: 1.5rem;
}

.w-7{
  width: 1.75rem;
}

.w-\[6px\]{
  width: 6px;
}

.w-full{
  width: 100%;
}

.w-1\/2{
  width: 50%;
}

.w-20{
  width: 5rem;
}

.w-4{
  width: 1rem;
}

.w-44{
  width: 11rem;
}

.w-48{
  width: 12rem;
}

.max-w-5xl{
  max-width: 64rem;
}

.max-w-7xl{
  max-width: 80rem;
}

.max-w-\[18\.5rem\]{
  max-width: 18.5rem;
}

.max-w-\[22rem\]{
  max-width: 22rem;
}

.max-w-\[90\%\]{
  max-width: 90%;
}

.max-w-xl{
  max-width: 36rem;
}

.max-w-2xl{
  max-width: 42rem;
}

.max-w-6xl{
  max-width: 72rem;
}

.grow{
  flex-grow: 1;
}

.scale-0{
  --tw-scale-x: 0;
  --tw-scale-y: 0;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.scale-100{
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer{
  cursor: pointer;
}

.resize{
  resize: both;
}

.grid-cols-1{
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2{
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.flex-row{
  flex-direction: row;
}

.flex-col{
  flex-direction: column;
}

.items-start{
  align-items: flex-start;
}

.items-center{
  align-items: center;
}

.justify-start{
  justify-content: flex-start;
}

.justify-end{
  justify-content: flex-end;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.gap-10{
  gap: 2.5rem;
}

.gap-16{
  gap: 4rem;
}

.gap-2{
  gap: 0.5rem;
}

.gap-20{
  gap: 5rem;
}

.gap-5{
  gap: 1.25rem;
}

.gap-52{
  gap: 13rem;
}

.gap-6{
  gap: 1.5rem;
}

.gap-4{
  gap: 1rem;
}

.gap-7{
  gap: 1.75rem;
}

.overflow-hidden{
  overflow: hidden;
}

.rounded-3xl{
  border-radius: 1.5rem;
}

.rounded-full{
  border-radius: 9999px;
}

.rounded-lg{
  border-radius: 0.5rem;
}

.rounded-md{
  border-radius: 0.375rem;
}

.rounded{
  border-radius: 0.25rem;
}

.rounded-2xl{
  border-radius: 1rem;
}

.rounded-sm{
  border-radius: 0.125rem;
}

.rounded-t{
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.rounded-t-lg{
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.rounded-t-xl{
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

.rounded-t-2xl{
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.rounded-bl-\[5rem\]{
  border-bottom-left-radius: 5rem;
}

.rounded-tr-\[5rem\]{
  border-top-right-radius: 5rem;
}

.border{
  border-width: 1px;
}

.bg-\[\#00c3ff\]{
  --tw-bg-opacity: 1;
  background-color: rgb(0 195 255 / var(--tw-bg-opacity));
}

.bg-\[\#0942E4\]{
  --tw-bg-opacity: 1;
  background-color: rgb(9 66 228 / var(--tw-bg-opacity));
}

.bg-\[\#AEBFD6\]{
  --tw-bg-opacity: 1;
  background-color: rgb(174 191 214 / var(--tw-bg-opacity));
}

.bg-\[\#F0F6FF\]{
  --tw-bg-opacity: 1;
  background-color: rgb(240 246 255 / var(--tw-bg-opacity));
}

.bg-\[\#FF423E\]{
  --tw-bg-opacity: 1;
  background-color: rgb(255 66 62 / var(--tw-bg-opacity));
}

.bg-gray-100{
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-\[\]{
  background-color: ;
}

.bg-\[\.\/\]{
  background-color: ./;
}

.bg-\[url\]{
  background-color: url;
}

.bg-\[\#FE4C1C\]{
  --tw-bg-opacity: 1;
  background-color: rgb(254 76 28 / var(--tw-bg-opacity));
}

.bg-\[\#FF7455\]{
  --tw-bg-opacity: 1;
  background-color: rgb(255 116 85 / var(--tw-bg-opacity));
}

.bg-\[\#01C3FF\]{
  --tw-bg-opacity: 1;
  background-color: rgb(1 195 255 / var(--tw-bg-opacity));
}

.bg-\[\#FF413E\]{
  --tw-bg-opacity: 1;
  background-color: rgb(255 65 62 / var(--tw-bg-opacity));
}

.bg-\[\#1A2332\]{
  --tw-bg-opacity: 1;
  background-color: rgb(26 35 50 / var(--tw-bg-opacity));
}

.bg-\[url\(\'\.\/assets\/bg-box1-h8-1\.png\'\)\]{
  background-image: url('./assets/bg-box1-h8-1.png');
}

.bg-\[url\(\'\.\/assets\/bg1-h8\.png\'\)\]{
  background-image: url('./assets/bg1-h8.png');
}

.bg-\[url\(\'\.\/assets\/bgshape1-h8\.png\'\)\]{
  background-image: url('./assets/bgshape1-h8.png');
}

.bg-\[url\(\'\.\/assets\/bgshape2-h8\.png\'\)\]{
  background-image: url('./assets/bgshape2-h8.png');
}

.bg-gradient-to-br{
  background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
}

.bg-gradient-to-r{
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.bg-\[url\(\'\.\/assets\/bg-su\'\)\]{
  background-image: url('./assets/bg-su');
}

.bg-\[url\(\'\.\/assets\/bg-sub-home5\.png\'\)\]{
  background-image: url('./assets/bg-sub-home5.png');
}

.from-\[\#0275E9\]{
  --tw-gradient-from: #0275E9 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(2 117 233 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-\[\#0940E5\]{
  --tw-gradient-from: #0940E5 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(9 64 229 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-\[\#0942E4\]{
  --tw-gradient-from: #0942E4 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(9 66 228 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-\[\#FE4C1C\]{
  --tw-gradient-from: #FE4C1C var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(254 76 28 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-\[\#FF423E\]{
  --tw-gradient-from: #FF423E var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 66 62 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-\[\#00c3ff\]{
  --tw-gradient-from: #00c3ff var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(0 195 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-\[\#FF413E\]{
  --tw-gradient-from: #FF413E var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 65 62 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-\[\#052CAE\]{
  --tw-gradient-from: #052CAE var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(5 44 174 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.to-\[\#02D6F0\]{
  --tw-gradient-to: #02D6F0 var(--tw-gradient-to-position);
}

.to-\[\#02D7F1\]{
  --tw-gradient-to: #02D7F1 var(--tw-gradient-to-position);
}

.to-\[\#03B1EE\]{
  --tw-gradient-to: #03B1EE var(--tw-gradient-to-position);
}

.to-\[\#FE4C1C\]{
  --tw-gradient-to: #FE4C1C var(--tw-gradient-to-position);
}

.to-\[\#FE7E1E\]{
  --tw-gradient-to: #FE7E1E var(--tw-gradient-to-position);
}

.to-\[\#0081ff\]{
  --tw-gradient-to: #0081ff var(--tw-gradient-to-position);
}

.to-\[\#FF801D\]{
  --tw-gradient-to: #FF801D var(--tw-gradient-to-position);
}

.bg-\[length\:40\%\]{
  background-size: 40%;
}

.bg-cover{
  background-size: cover;
}

.bg-\[length\:50\%\]{
  background-size: 50%;
}

.bg-\[length\:5\%\]{
  background-size: 5%;
}

.bg-left-bottom{
  background-position: left bottom;
}

.bg-right-bottom{
  background-position: right bottom;
}

.bg-left{
  background-position: left;
}

.bg-no-repeat{
  background-repeat: no-repeat;
}

.p-1{
  padding: 0.25rem;
}

.p-10{
  padding: 2.5rem;
}

.p-14{
  padding: 3.5rem;
}

.p-16{
  padding: 4rem;
}

.p-20{
  padding: 5rem;
}

.p-3{
  padding: 0.75rem;
}

.p-5{
  padding: 1.25rem;
}

.p-2{
  padding: 0.5rem;
}

.p-24{
  padding: 6rem;
}

.px-1{
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.px-10{
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.px-14{
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.px-5{
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-6{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-7{
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.py-1{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-10{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.py-2{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-4{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-5{
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-16{
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.px-20{
  padding-left: 5rem;
  padding-right: 5rem;
}

.px-2{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-24{
  padding-left: 6rem;
  padding-right: 6rem;
}

.px-3{
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-6{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-3{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-7{
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.py-20{
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.pb-0{
  padding-bottom: 0px;
}

.pb-10{
  padding-bottom: 2.5rem;
}

.pb-28{
  padding-bottom: 7rem;
}

.pb-3{
  padding-bottom: 0.75rem;
}

.pb-44{
  padding-bottom: 11rem;
}

.pb-5{
  padding-bottom: 1.25rem;
}

.pt-0{
  padding-top: 0px;
}

.pt-1{
  padding-top: 0.25rem;
}

.pt-14{
  padding-top: 3.5rem;
}

.pt-16{
  padding-top: 4rem;
}

.pt-2{
  padding-top: 0.5rem;
}

.pt-20{
  padding-top: 5rem;
}

.pt-32{
  padding-top: 8rem;
}

.pr-24{
  padding-right: 6rem;
}

.pl-24{
  padding-left: 6rem;
}

.pr-10{
  padding-right: 2.5rem;
}

.pr-16{
  padding-right: 4rem;
}

.pl-10{
  padding-left: 2.5rem;
}

.pl-20{
  padding-left: 5rem;
}

.pl-12{
  padding-left: 3rem;
}

.pl-16{
  padding-left: 4rem;
}

.pl-1{
  padding-left: 0.25rem;
}

.pl-4{
  padding-left: 1rem;
}

.pr-2{
  padding-right: 0.5rem;
}

.pt-5{
  padding-top: 1.25rem;
}

.text-center{
  text-align: center;
}

.font-\[\'red_hat_display\'\]{
  font-family: 'red hat display';
}

.text-2xl{
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl{
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-4xl{
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-8xl{
  font-size: 6rem;
  line-height: 1;
}

.text-base{
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-sm{
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl{
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-xs{
  font-size: 0.75rem;
  line-height: 1rem;
}

.font-\[900\]{
  font-weight: 900;
}

.font-bold{
  font-weight: 700;
}

.font-extrabold{
  font-weight: 800;
}

.font-light{
  font-weight: 300;
}

.font-normal{
  font-weight: 400;
}

.font-medium{
  font-weight: 500;
}

.font-extralight{
  font-weight: 200;
}

.uppercase{
  text-transform: uppercase;
}

.leading-7{
  line-height: 1.75rem;
}

.leading-8{
  line-height: 2rem;
}

.leading-9{
  line-height: 2.25rem;
}

.leading-\[3rem\]{
  line-height: 3rem;
}

.leading-5{
  line-height: 1.25rem;
}

.leading-6{
  line-height: 1.5rem;
}

.tracking-\[5px\]{
  letter-spacing: 5px;
}

.tracking-widest{
  letter-spacing: 0.1em;
}

.text-\[\#00c3ff\]{
  --tw-text-opacity: 1;
  color: rgb(0 195 255 / var(--tw-text-opacity));
}

.text-\[\#01C3FF\]{
  --tw-text-opacity: 1;
  color: rgb(1 195 255 / var(--tw-text-opacity));
}

.text-\[\#0942E4\]{
  --tw-text-opacity: 1;
  color: rgb(9 66 228 / var(--tw-text-opacity));
}

.text-\[\#A5B7D2\]{
  --tw-text-opacity: 1;
  color: rgb(165 183 210 / var(--tw-text-opacity));
}

.text-\[\#AEBFD6\]{
  --tw-text-opacity: 1;
  color: rgb(174 191 214 / var(--tw-text-opacity));
}

.text-\[\#FE4C1C\]{
  --tw-text-opacity: 1;
  color: rgb(254 76 28 / var(--tw-text-opacity));
}

.text-\[\#FF423E\]{
  --tw-text-opacity: 1;
  color: rgb(255 66 62 / var(--tw-text-opacity));
}

.text-\[\#a5b7d2\]{
  --tw-text-opacity: 1;
  color: rgb(165 183 210 / var(--tw-text-opacity));
}

.text-\[\#fe4c1c\]{
  --tw-text-opacity: 1;
  color: rgb(254 76 28 / var(--tw-text-opacity));
}

.text-\[rgba\(165\2c 183\2c 210\2c \.2\)\]{
  color: rgba(165,183,210,.2);
}

.text-black{
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.text-black\/70{
  color: rgb(0 0 0 / 0.7);
}

.text-gray-400{
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

.text-gray-500{
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-\[\#9EE8FF\]{
  --tw-text-opacity: 1;
  color: rgb(158 232 255 / var(--tw-text-opacity));
}

.opacity-0{
  opacity: 0;
}

.shadow-\[12px_12px_20px_0_rgba\(1\2c 96\2c 231\2c \.3\)\]{
  --tw-shadow: 12px 12px 20px 0 rgba(1,96,231,.3);
  --tw-shadow-colored: 12px 12px 20px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-\[12px_12px_20px_0_rgba\(254\2c 76\2c 28\2c \.3\)\]{
  --tw-shadow: 12px 12px 20px 0 rgba(254,76,28,.3);
  --tw-shadow-colored: 12px 12px 20px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-\[12px_12px_20px_0px_rgba\(0\2c 72\2c 176\2c 0\.3\)\]{
  --tw-shadow: 12px 12px 20px 0px rgba(0,72,176,0.3);
  --tw-shadow-colored: 12px 12px 20px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-\[6px_6px_13px_0px_rgba\(42\2c 67\2c 113\2c \.18\)\]{
  --tw-shadow: 6px 6px 13px 0px rgba(42,67,113,.18);
  --tw-shadow-colored: 6px 6px 13px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-\[8px_8px_20px_0_rgba\(42\2c 67\2c 113\2c \.3\)\]{
  --tw-shadow: 8px 8px 20px 0 rgba(42,67,113,.3);
  --tw-shadow-colored: 8px 8px 20px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-\[8px_8px_30px_0px_rgba\(41\2c 99\2c 99\2c 0\.15\)\]{
  --tw-shadow: 8px 8px 30px 0px rgba(41,99,99,0.15);
  --tw-shadow-colored: 8px 8px 30px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-\[23px_23px_32px_0px_rgba\(254\2c 76\2c 28\2c 0\.33\)\]{
  --tw-shadow: 23px 23px 32px 0px rgba(254,76,28,0.33);
  --tw-shadow-colored: 23px 23px 32px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.contrast-0{
  --tw-contrast: contrast(0);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.transition-all{
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-300{
  transition-duration: 300ms;
}

.duration-500{
  transition-duration: 500ms;
}

body {
  font-family: 'DM Sans', sans-serif;
}

.active {
  color: #FE4C1C !important;
}

.menu-item a {
  position: relative;
  color:#1A1C1E;
}

.menu-item a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: #007bff;
  transition: width 0.3s ease;
}

.menu-item a:hover::after {
  width: 100%;
}

.menu-item a::after {
  transition: width 0.3s ease;
}

.button-hover::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: #FE4C1C;
  position: absolute;
  top: 0;
  left: 0;
  border-top-right-radius: 5rem;
  border-bottom-left-radius: 5rem;
  z-index: -1;
  transition:  0.3s ease;
}

.button-hover:hover::after {
  width: 100%;
  transform:rotate(5deg)
}

.hero-section {
  background-image: ;
  /* background-size: cover; */
  /* background-position: 25% 180%; */
  background-repeat: no-repeat;
}

.hero-container {
  background-image: url('./assets/bg2-banner-h8.png');
  background-position: top right;
  background-repeat: no-repeat;
}

.hero-social a {
  transition: color 0.3s ease;
}

.hero-social a:hover {
  color: #FE4C1C;
}

.hero-title {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 900;
}

/* .hero-button {
    transition: all 0.9s ease;
} */

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: transparent;
}

/* ---- stats.js ---- */

.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats,
  .count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}

.service-icon {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

/* Add this CSS to your styles.css or a <style> tag in your HTML */

@keyframes slide-mask {
  0% {
    background-color: #ffffff;
    opacity: 0.5;
    width: 0%;
    left: 0;
  }

  100% {
    background-color: #ffffff;
    opacity: 0;
    width: 100%;
    left: 0;
  }
}

.same-custom-button {
  position: relative;
  overflow: hidden;
}

.button-active{
  background-color: #01C3FF;
  color: #ffffff;
  box-shadow: 8px 8px 18px 0px rgba(0,195,255,0.3);
  font-weight: 500;
}

.same-custom-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0%;
  width: 0%;
  height: 100%;
  background-color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.same-custom-button:hover::before {
  animation: slide-mask 0.6s forwards;
  left: 0;
}

@keyframes card-slide-mask {
  0% {
    background-color: #FF453D;
    opacity: 0.5;
    width: 0%;
    left: 0;
  }

  100% {
    background-color: #FF453D;
    opacity: 0;
    width: 100%;
    left: 0;
  }
}

.card-same-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0%;
  width: 0%;
  height: 100%;
  background-color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card-same-button:hover::before {
  animation: card-slide-mask 0.6s forwards;
  left: 0;
}

/* progress bar  */

@keyframes progress {
  0% {
    --percentage: 0;
  }

  100% {
    --percentage: var(--value);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes reverseSpin {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

@property --percentage {
  syntax: '<number>';

  inherits: true;

  initial-value: 0;
}

[role="progressbar"] {
  --percentage: var(--value);
  --secondary: #fff;
  --size: 150px;
  --inner-size: calc(var(--size) * 0.85);
  animation: progress 2s 0.5s forwards;
  width: var(--size);
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  display: grid;
  place-items: center;
}

/* Curved animation elements */

[role="progressbar"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: 
    conic-gradient(
      from 0deg,
      transparent 0,
      #FF811B 0.5turn,
      #FF403E 1turn
    ),
    conic-gradient(
      from 0deg,
      #FF811B 0,
      #FF403E calc(var(--percentage) * 1%),
      var(--secondary) 0
    );
  background-blend-mode: overlay;
  -webkit-mask: radial-gradient(white 55%, transparent 0);
          mask: radial-gradient(white 55%, transparent 0);
  mask-mode: alpha;
  -webkit-mask: radial-gradient(#0000 55%, #000 0);
  -webkit-mask-mode: alpha;
}

/* Spinning overlay */

[role="progressbar"]::after {
  counter-reset: percentage var(--value);
  content: counter(percentage) '%';
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: #FF403E;
  background: white;
  width: var(--inner-size);
  height: var(--inner-size);
  border-radius: 50%;
  display: grid;
  place-items: center;
  position: absolute;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
}

/* Front curved element */

[role="progressbar"] .front-curve {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 4px solid transparent;
  border-top-color: rgba(255, 129, 27, 0.5);
  border-right-color: rgba(255, 64, 62, 0.5);
  animation: spin 3s linear infinite;
}

/* Back curved element */

[role="progressbar"] .back-curve {
  position: absolute;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  border: 4px solid transparent;
  border-bottom-color: rgba(255, 129, 27, 0.3);
  border-left-color: rgba(255, 64, 62, 0.3);
  animation: reverseSpin 2s linear infinite;
}

/* Additional decorative elements */

[role="progressbar"] .dots {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: spin 4s linear infinite;
}

[role="progressbar"] .dots::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: #FF403E;
  border-radius: 50%;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 10px rgba(255, 64, 62, 0.5);
}

.hover\:translate-y-\[-10px\]:hover{
  --tw-translate-y: -10px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:translate-y-\[-20px\]:hover{
  --tw-translate-y: -20px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:text-\[\#FF413E\]:hover{
  --tw-text-opacity: 1;
  color: rgb(255 65 62 / var(--tw-text-opacity));
}

.hover\:contrast-100:hover{
  --tw-contrast: contrast(1);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.focus\:outline-none:focus{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.group:hover .group-hover\:scale-100{
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:from-white{
  --tw-gradient-from: #fff var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.group:hover .group-hover\:to-white{
  --tw-gradient-to: #fff var(--tw-gradient-to-position);
}

.group:hover .group-hover\:text-\[\#01C3FF\]{
  --tw-text-opacity: 1;
  color: rgb(1 195 255 / var(--tw-text-opacity));
}

.group:hover .group-hover\:text-gray-300{
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity));
}

.group:hover .group-hover\:text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.group:hover .group-hover\:opacity-100{
  opacity: 1;
}

.group:hover .group-hover\:shadow-none{
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@media (min-width: 768px){
  .md\:static{
    position: static;
  }

  .md\:my-36{
    margin-top: 9rem;
    margin-bottom: 9rem;
  }

  .md\:mb-28{
    margin-bottom: 7rem;
  }

  .md\:mb-0{
    margin-bottom: 0px;
  }

  .md\:block{
    display: block;
  }

  .md\:grid{
    display: grid;
  }

  .md\:hidden{
    display: none;
  }

  .md\:w-1\/2{
    width: 50%;
  }

  .md\:w-1\/3{
    width: 33.333333%;
  }

  .md\:w-auto{
    width: auto;
  }

  .md\:max-w-\[37rem\]{
    max-width: 37rem;
  }

  .md\:max-w-md{
    max-width: 28rem;
  }

  .md\:scale-100{
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .md\:grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:grid-cols-5{
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .md\:grid-cols-3{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .md\:grid-cols-4{
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .md\:flex-row{
    flex-direction: row;
  }

  .md\:gap-8{
    gap: 2rem;
  }

  .md\:bg-white{
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  }

  .md\:bg-\[url\(\'\.\/assets\/bg-sub-home5\.png\'\)\]{
    background-image: url('./assets/bg-sub-home5.png');
  }

  .md\:bg-\[25\%_100\%\]{
    background-position: 25% 100%;
  }

  .md\:px-2{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .md\:px-20{
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .md\:pb-0{
    padding-bottom: 0px;
  }

  .md\:pb-10{
    padding-bottom: 2.5rem;
  }

  .md\:pr-10{
    padding-right: 2.5rem;
  }

  .md\:pt-0{
    padding-top: 0px;
  }

  .md\:pt-28{
    padding-top: 7rem;
  }

  .md\:pl-10{
    padding-left: 2.5rem;
  }

  .md\:pl-20{
    padding-left: 5rem;
  }

  .md\:pr-16{
    padding-right: 4rem;
  }

  .md\:text-left{
    text-align: left;
  }

  .md\:text-4xl{
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .md\:text-base{
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media (min-width: 1024px){
  .lg\:translate-y-5{
    --tw-translate-y: 1.25rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .lg\:pb-24{
    padding-bottom: 6rem;
  }
}

@media (min-width: 1280px){
  .xl\:mt-0{
    margin-top: 0px;
  }

  .xl\:block{
    display: block;
  }

  .xl\:flex{
    display: flex;
  }

  .xl\:w-1\/2{
    width: 50%;
  }

  .xl\:w-1\/4{
    width: 25%;
  }

  .xl\:grid-cols-4{
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .xl\:flex-col{
    flex-direction: column;
  }

  .xl\:gap-10{
    gap: 2.5rem;
  }

  .xl\:gap-2{
    gap: 0.5rem;
  }

  .xl\:gap-36{
    gap: 9rem;
  }

  .xl\:bg-\[url\(\'\.\/assets\/bg1-banner-h8\.png\'\)\]{
    background-image: url('./assets/bg1-banner-h8.png');
  }

  .xl\:pl-44{
    padding-left: 11rem;
  }

  .xl\:pr-10{
    padding-right: 2.5rem;
  }

  .xl\:text-6xl{
    font-size: 3.75rem;
    line-height: 1;
  }

  .xl\:leading-\[4\.5rem\]{
    line-height: 4.5rem;
  }
}

@media (min-width: 1536px){
  .\32xl\:bg-\[25\%_100\%\]{
    background-position: 25% 100%;
  }
}